@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

@import './layout/utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.8;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

nav {
  background: rgba(236, 236, 172, 0.85);
  padding: 0.75rem 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: black;
    max-width: 150px;

    @media (min-width: 40rem) {
      font-size: 1.1rem;
    }

    &:hover {
      color: white;
    }

    img {
      width: 150px;
    }
  }

  ul {
    list-style: none;

    li {
      display: inline-block;
      margin-right: 1rem;
    }
  }
}

main {
  margin-bottom: 5rem;
}

section.about {
  margin-top: 1rem;
  letter-spacing: 1px;

  div {
    display: grid;
    grid-gap: 1rem;

    a {
      color: $multi-use-color;
    }

    h2 {
      color: $about-text-color;
    }

    span {
      color: yellow;
    }

    p:nth-of-type(3) {
      color: $about-text-color;
      text-align: center;
      font-size: 1.1rem;
    }
  }
}

section.search-box {
  padding: 2rem 0;

  form {
    position: relative;
    display: flex;
    width: 100%;

    @media (min-width: 760px) {
      width: 80%;
    }

    input {
      padding: 0.75rem 1rem;
      font-size: 1rem;
      flex-basis: 90%;
      height: 49px;
      border-radius: 5px;
      border: 1px solid black;

      &:focus-visible {
        outline: none;
      }
    }

    button {
      border: {
        radius: 5px;
        color: transparent;
        top-left-radius: 0;
        bottom-left-radius: 0;
      }
      right: 10px;
      min-width: 55px;
      height: 47px;
      border: 1px solid $multi-use-color;
      cursor: pointer;
      color: white;
      background-color: $multi-use-color;
      transform: translate(-8px, 1px);

      &:hover {
        background-color: lighten($multi-use-color, 5);
      }

      @media (min-width: 760px) {
        min-width: 70px;
      }
    }
  }
}

section.not-found {
  background: white;
  color: black;
  padding: 1rem;
  min-height: 300px;
  border-radius: 2px;
  display: grid;
  grid: {
    template-columns: repeat(4, 1fr);
    // gap: 1rem;
  }

  div:nth-of-type(1) {
    display: flex;
    align-items: center;
    grid-column: 1/5;

    h3 {
      margin-left: 0.5rem;
      letter-spacing: 1px;
    }
  }

  div:nth-of-type(2) {
    grid-column: 1/5;

    @media (min-width: 40rem) {
      grid-column: 1/4;
    }

    h1 {
      font-size: 2rem;
    }
  }

  div:nth-of-type(3) {
    grid: {
      column: 1/4;
      row: 3;
    }
    align-self: center;

    @media (min-width: 40rem) {
      grid-column: 1/3;
      grid-row: 3;
    }

    .home {
      @extend %btn;
      background: $multi-use-color;
      color: white;
    }

    .go-back {
      @extend %btn;
      background: rgb(77, 76, 76);
      color: white;
    }
  }

  img {
    grid-column: 4/5;
    grid-row: 3/4;
    align-self: start;
    width: 180px;

    @media (min-width: 40rem) {
      grid-row: 3/4;
      width: 250px;
      height: 250px;
    }
  }
}

section.spinner {
  background: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.trx-error {
  span {
    font-weight: bold;
    letter-spacing: 1px;
  }
}

section.user-address {
  background: white;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  overflow-wrap: break-word;

  .address {
    border-bottom: 2px solid rgb(77, 76, 76);
    padding-bottom: 0.3rem;

    p {
      font-size: 1.3rem;
    }

    span {
      white-space: pre-wrap;
      font-size: 0.85rem;
    }
  }
  h4 {
    padding-top: 0.7rem;
    padding-left: 0.1rem;
  }
  .details {
    padding: 0.5rem 0.25rem 0;

    .balance {
      border-top: $balnace-border;
      border-bottom: $balnace-border;
      padding: 0.35rem;
    }

    .value {
      padding: 0.35rem;
    }
  }
}

.title {
  margin-top: 1rem;
  text-align: center;
  letter-spacing: 1px;
  color: yellow;
}

section.transactions {
  margin-top: 1rem;
  border-radius: 5px;
  background: white;
  color: black;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 2px 5px;

  .latest-details {
    padding: 0.5rem;
  }

  .no-trxs {
    padding: 0.5rem;
  }

  table {
    width: 100%;
    table-layout: fixed;
    font-size: 0.9rem;
    border-spacing: 0;
  }

  thead {
    background-color: rgba(189, 222, 233, 0.75);
    color: rgb(77, 76, 76);
  }

  th {
    padding: 0.75rem;
    border-color: transparent;
    @include format-text();
    text-align: start;
  }

  .out-in {
    width: 80px;
  }

  .value {
    width: 150px;
  }

  .date {
    width: 160px;
  }

  .trx-add {
    width: 220px;
  }

  tbody td {
    padding: 0.6rem 0.75rem;
    @include format-text();
    border-top: 1px solid rgb(201, 195, 195);
  }

  tbody tr:hover {
    background: rgba(233, 243, 252, 0.7);
  }

  .in-out-text {
    border-radius: 2px;
    padding: 0.3rem 0.15rem;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.82rem;
  }

  .in {
    color: rgb(2, 95, 2);
    background: rgb(186, 233, 186);
  }

  .out {
    color: rgb(119, 35, 4);
    background: rgb(241, 190, 190);
  }
}

a {
  text-decoration: none;
}
